[{:acc "Assets:NZ:Cash", :date #time/date "2025-01-01", :dct :open}
 {:acc "Assets:UK:Cash", :date #time/date "2025-01-01", :dct :open}
 {:date #time/date "2025-01-01",
  :dct :txn,
  :flag "*",
  :narration "price per-unit",
  :postings [{:acc "Assets:UK:Cash",
              :cur "GBP",
              :price {:cur "NZD", :per-unit 1.914M, :total -1914.00000M},
              :units -1000.00M}
             {:acc "Assets:NZ:Cash", :cur "NZD", :units 1914.00000M}]}
 {:date #time/date "2025-02-01",
  :dct :txn,
  :flag "*",
  :narration "price total",
  :postings
    [{:acc "Assets:UK:Cash",
      :cur "GBP",
      :price
        {:cur "NZD", :per-unit 1.9369035532994923857868020305M, :total 381.57M},
      :units -197.00M} {:acc "Assets:NZ:Cash", :cur "NZD", :units -381.57M}]}
 {:date #time/date "2025-02-05",
  :dct :txn,
  :flag "*",
  :narration "price total weight",
  :postings
    [{:acc "Assets:UK:Cash",
      :cur "GBP",
      :price
        {:cur "NZD", :per-unit 1.9369035532994923857868020305M, :total 381.57M},
      :units -197.00M} {:acc "Assets:NZ:Cash", :cur "NZD", :units -381.57M}]}
 {:acc "Assets:Shares:IBM", :date #time/date "2025-03-01", :dct :open}
 {:date #time/date "2025-03-01",
  :dct :txn,
  :flag "*",
  :narration "cost per-unit",
  :postings [{:acc "Assets:Shares:IBM",
              :cost {:cur "NZD",
                     :date #time/date "2025-03-01",
                     :per-unit 300.00M,
                     :total 1500.00M},
              :cur "IBM",
              :units 5M} {:acc "Assets:NZ:Cash", :cur "NZD", :units -1500.00M}]}
 {:date #time/date "2025-04-01",
  :dct :txn,
  :flag "*",
  :narration "cost total",
  :postings [{:acc "Assets:Shares:IBM",
              :cost {:cur "NZD",
                     :date #time/date "2025-04-01",
                     :per-unit 303.33333333333333333333333333M,
                     :total 910.00M},
              :cur "IBM",
              :units 3M} {:acc "Assets:NZ:Cash", :cur "NZD", :units -910.00M}]}
 {:date #time/date "2025-04-05",
  :dct :txn,
  :flag "*",
  :narration "cost total weight",
  :postings [{:acc "Assets:Shares:IBM",
              :cost {:cur "NZD",
                     :date #time/date "2025-04-05",
                     :per-unit 303.33333333333333333333333333M,
                     :total 910.00M},
              :cur "IBM",
              :units 3M} {:acc "Assets:NZ:Cash", :cur "NZD", :units -910.00M}]}]
