[{:acc "Assets:Bank:Current",
  :date #time/date "2020-01-01",
  :dct :open,
  :span [0 93 130]}
 {:acc "Expenses:Donations",
  :date #time/date "2023-04-10",
  :dct :open,
  :metadata {:auto nil},
  :provenance ["beancount.plugins.auto_accounts"],
  :span-p [1 0 43]}
 {:date #time/date "2023-04-10",
  :dct :txn,
  :flag "*",
  :narration "WIKIMEDIA ;",
  :payee "WIKIMEDIA",
  :postings
    [{:acc "Assets:Bank:Current", :cur "NZD", :span [0 171 202], :units -10.00M}
     {:acc "Expenses:Donations", :span [0 205 223]}],
  :span [0 130 225]}
 {:acc "Expenses:Donations:Other",
  :date #time/date "2023-04-12",
  :dct :open,
  :metadata {:auto nil},
  :provenance ["beancount.plugins.auto_accounts"],
  :span-p [1 43 92]}
 {:date #time/date "2023-04-12",
  :dct :txn,
  :flag "*",
  :payee "Tear Fund",
  :postings
    [{:acc "Assets:Bank:Current", :cur "NZD", :span [0 255 286], :units -20.00M}
     {:acc "Expenses:Donations:Other", :span [0 289 313]}],
  :span [0 225 314]}]
