[{:acc "Assets:Bank:Current",
  :date #time/date "2020-01-01",
  :raw-idx 0,
  :type :limabean/open}
 {:acc "Expenses:Donations",
  :date #time/date "2023-04-10",
  :metadata {:auto nil},
  :raw-idx 1,
  :type :limabean/open}
 {:date #time/date "2023-04-10",
  :flag "*",
  :narration "WIKIMEDIA ;",
  :payee "WIKIMEDIA",
  :postings
    [{:acc "Assets:Bank:Current", :cur "NZD", :raw-idx 0, :units -10.00M}
     {:acc "Expenses:Donations", :cur "NZD", :raw-idx 1, :units 10.00M}],
  :raw-idx 2,
  :type :limabean/txn}
 {:acc "Expenses:Donations:Other",
  :date #time/date "2023-04-12",
  :metadata {:auto nil},
  :raw-idx 3,
  :type :limabean/open}
 {:date #time/date "2023-04-12",
  :flag "*",
  :payee "Tear Fund",
  :postings
    [{:acc "Assets:Bank:Current", :cur "NZD", :raw-idx 0, :units -20.00M}
     {:acc "Expenses:Donations:Other", :cur "NZD", :raw-idx 1, :units 20.00M}],
  :raw-idx 4,
  :type :limabean/txn}]
