[{:acc "Assets:Bank:Current",
  :date #time/date "2020-01-01",
  :type :limabean/open}
 {:acc "Assets:ETrade:IBM", :date #time/date "2020-01-01", :type :limabean/open}
 {:acc "Expenses:Financial:Commissions",
  :date #time/date "2020-01-01",
  :type :limabean/open}
 {:acc "Expenses:Food", :date #time/date "2020-01-01", :type :limabean/open}
 {:acc "Expenses:News", :date #time/date "2020-01-01", :type :limabean/open}
 {:date #time/date "2023-04-10",
  :flag "*",
  :payee "KFC",
  :postings [{:acc "Assets:Bank:Current", :cur "NZD", :units -22.00M}
             {:acc "Expenses:Food",
              :cur "GBP",
              :price {:cur "NZD", :per-unit 2.2M, :total 22.000M},
              :units 10.00M}],
  :type :limabean/txn}
 {:cur "GBP",
  :date #time/date "2023-04-10",
  :price {:cur "NZD", :per-unit 2.2M},
  :type :limabean/price}
 {:date #time/date "2023-04-12",
  :flag "*",
  :narration "Various",
  :postings [{:acc "Assets:Bank:Current", :cur "NZD", :units -22.90M}
             {:acc "Expenses:News",
              :cur "EUR",
              :price {:cur "NZD", :per-unit 1.9M, :total 5.700M},
              :units 3.00M}
             {:acc "Expenses:Food",
              :cur "GBP",
              :price {:cur "NZD", :per-unit 2.15M, :total 17.2000M},
              :units 8.00M}],
  :type :limabean/txn}
 {:cur "EUR",
  :date #time/date "2023-04-12",
  :price {:cur "NZD", :per-unit 1.9M},
  :type :limabean/price}
 {:cur "GBP",
  :date #time/date "2023-04-12",
  :price {:cur "NZD", :per-unit 2.15M},
  :type :limabean/price}
 {:date #time/date "2023-05-01",
  :flag "*",
  :narration "Buy some IBM",
  :postings
    [{:acc "Assets:ETrade:IBM",
      :cost {:cur "NZD",
             :date #time/date "2023-05-01",
             :per-unit 300.00M,
             :total 3000.00M},
      :cur "IBM",
      :units 10M} {:acc "Assets:Bank:Current", :cur "NZD", :units -3020.00M}
     {:acc "Expenses:Financial:Commissions", :cur "NZD", :units 20.00M}],
  :type :limabean/txn}
 {:cur "IBM",
  :date #time/date "2023-05-01",
  :price {:cur "NZD", :per-unit 300.00M},
  :type :limabean/price}]
